 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

body {
  background-color: #A7DBD8;
}

.title {
  h1 {
    font-size: 5em;
    text-align: center;
    color: white;
  }
}

div {
  text-align: center;
}

.logOutBtn {
  width: 200px;
  height: 100px;
  margin: auto;
  border: solid black 2px;
  background-color: #F38630;
  a {
    text-decoration: none;
    font-size: 2em;
    position: relative;
    top: 28%;
    color: white;
    padding: 30px 44px;
  }
}